body{background-color:#e84b43;}
div {
	border-radius: 5px;
	border: 2px solid white;
	background-color:white;
	height: 1200px;
	width: 1000px;
	margin: auto;
	text-align: center;
	}
#center{
	border-radius: 5px;
	border: 2px solid white;
	background-color:white;
	height: 2100px;
	width: 1000px;
	margin: auto;
	text-align: center;


	}
#footer{
	clear: both;
	position: relative;
	bottom: -20px;
	height: 100px;
    width: 100vw;
	border: 2px solid white;
	background-color: white;
	}
	
#botton1{
	border-radius: 5px;
	border: 2px solid red;
	background-color: white;
	height: 50px;
	width: 160px;
	margin: auto;
	text-align: center;
	float:left;
}
#botton2{
	border-radius: 5px;
	border: 2px solid red;
	background-color: white;
	height: 50px;
	width: 160px;
	margin: auto;
	text-align: center;
	float:left;
}

#botton3{
	border-radius: 5px;
	border: 2px solid red;
	background-color: white;
	height: 50px;
	width: 160px;
	margin: auto;
	text-align: center;
	float: right;
}

#botton4{
	border-radius: 5px;
	border: 2px solid red;
	background-color: white;
	height: 50px;
	width: 160px;
	margin: auto;
	text-align: center;
	float: right;
}


a {
	text-decoration: none;
	color: red;
	font-family: Verdana, sans-serif;
	text-align:center;
}

span {
	font-weight: bold;
	font-size: 18px;
	color: red;
}

p {
	color: red;
	font-family:Verdana,sans-serif;
	text-align:center;
}
h1{
	color: black;
	font-family:Verdana,sans-serif;
	text-align:center;
}
h3{
	color: black;
	font-family:Verdana,sans-serif;
	text-align:center;
}